---
import ContentStyles from "../../../components/ContentStyles.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

/* Contents too big */
//export function getStaticPaths() {
//  return Object.keys(supportedLanguages).map((f) => {
//    return {
//      params: {
//        lang: f,
//      },
//    };
//  });
//}
---

<BaseLayout title="Kementerian">
  <ContentStyles />
  <main>
    <header>
      <h1>Kementerian-Kementerian Negara Derrenomo</h1>
      <p>
        Halaman ini berisi nama dan layanan yang tersedia dari kementerian
        Republik Merdeka Derrenomo. Layanan ini tersedia kapan saja; namun, Anda
        mungkin perlu mengaktifkan JavaScript pada browser Anda terlebih dahulu.
      </p>
      <TableOfContents>
        <li>
          <a href="#MCPPW">Kementerian Perencanaan Umum dan Pekerjaan Pusat</a>
          <ol>
            <li>
              <a href="#MCCPW_MDOE">KPUPP - Kementerian Divisi Edukasi</a>
            </li>
            <li>
              <a href="#MCCPW_MDOA">KPUPP - Kementerian Divisi Pertanian</a>
            </li>
            <li>
              <a href="#MCCPW_MDOT">KPUPP - Kementerian Divisi Transportasi</a>
            </li>
            <li>
              <a href="#MCCPW_MDOI">KPUPP - Kementerian Divisi Industri</a>
            </li>
          </ol>
        </li>
        <li><a href="#MOY">Kementerian Pemuda</a></li>
        <li><a href="#MOD">Kementerian Pertahanan</a></li>
        <li><a href="#MOE">Kementerian Pendidikan</a></li>
        <li><a href="#MFA">Kementerian Luar Negeri</a></li>
        <li><a href="#MSS">Kementerian Sekretaris Negara</a></li>
        <li><a href="#MTI">Kementerian Teknologi dan Informasi</a></li>
        <li><a href="#MIA">Kementerian Dalam Negeri</a></li>
        <li><a href="#MOJ">Kementerian Kehakiman</a></li>
        <li>
          <a href="#MRSA">Kementerian Agama dan Sosial</a>
          <ol>
            <li><a href="#MRSA_DOC">KAS - Divisi Kebudayaan</a></li>
          </ol>
        </li>
        <li><a href="#MOH">Kementerian Kesehatan</a></li>
      </TableOfContents>
    </header>
    <article>
      <div id="MCPPW">
        <h2>Kementerian Perencanaan Umum dan Pekerjaan Pusat</h2>
        <p>
          Kementerian Perencanaan Pusat dan Pekerjaan Umum bertanggung jawab
          untuk mengawasi perencanaan dan pelaksanaan proyek-proyek pekerjaan
          umum berskala besar, serta perencanaan ekonomi secara keseluruhan di
          negara. Mereka bekerja untuk memastikan bahwa sumber daya dialokasikan
          dengan efektif dan efisien, dan bahwa proyek-proyek diselesaikan tepat
          waktu dan sesuai anggaran. Kementerian ini memainkan peran krusial
          dalam pengembangan infrastruktur Derrenomo dan pertumbuhan ekonominya.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
        <div id="MCCPW_MDOE">
          <h3>Kementerian Divisi Ekonomi</h3>
          <p>
            Divisi Kementerian Ekonomi adalah divisi spesialis di dalam
            Kementerian Perencanaan Pusat dan Pekerjaan Umum yang fokus pada
            kebijakan dan analisis ekonomi. Mereka bekerja untuk mengembangkan
            dan mengevaluasi kebijakan dan program ekonomi, serta menyediakan
            analisis dan perkiraan ekonomi kepada lembaga pemerintah dan
            pemangku kepentingan lainnya. Divisi ini memainkan peran penting
            dalam membentuk kebijakan ekonomi Derrenomo dan menjamin pertumbuhan
            dan stabilitas ekonomi jangka panjang negara.
          </p>
        </div>
        <div id="MCCPW_MDOA">
          <h3>Kementerian Divisi Pertanian</h3>
          <p>
            Divisi Kementerian Pertanian adalah divisi spesialis di dalam
            Kementerian Perencanaan Pusat dan Pekerjaan Umum yang fokus pada
            kebijakan dan pengembangan pertanian. Mereka bekerja untuk
            mengembangkan dan melaksanakan kebijakan yang mendorong pertanian
            berkelanjutan, meningkatkan produksi pangan, dan meningkatkan
            keseluruhan sektor pertanian. Divisi ini juga memberikan bantuan
            teknis dan pelatihan kepada petani dan pekerja pertanian lainnya
            untuk meningkatkan keterampilan dan produktivitas mereka.
          </p>
        </div>
        <div id="MCCPW_MDOT">
          <h3>Kementerian Divisi Transportasi</h3>
          <p>
            Divisi Kementerian Transportasi adalah divisi spesialis di dalam
            Kementerian Perencanaan Pusat dan Pekerjaan Umum yang fokus pada
            kebijakan dan infrastruktur transportasi. Mereka bekerja untuk
            mengembangkan dan melaksanakan kebijakan yang meningkatkan sistem
            transportasi negara, termasuk jalan raya, kereta api, dan
            transportasi umum. Divisi ini juga bekerja untuk menjamin
            keselamatan sistem transportasi dan membuatnya lebih efisien dan
            berkelanjutan. sustainable.
          </p>
        </div>
        <div id="MCCPW_MDOI">
          <h3>Kementerian Divisi Industri</h3>
          <p>
            Divisi Kementerian Industri adalah divisi spesialis di dalam
            Kementerian Perencanaan Pusat dan Pekerjaan Umum yang fokus pada
            kebijakan dan pengembangan industri. Mereka bekerja untuk
            mengembangkan dan melaksanakan kebijakan yang mendorong pertumbuhan
            industri yang berkelanjutan dan inovasi, serta meningkatkan daya
            saing keseluruhan industri Derrenomo. Divisi ini juga memberikan
            bantuan teknis dan pelatihan kepada bisnis dan pengusaha untuk
            meningkatkan keterampilan dan produktivitas mereka.
          </p>
        </div>
      </div>
      <div id="MOY">
        <h2>Kementerian Pemuda</h2>
        <p>
          Kementerian Pemuda adalah kementerian pemerintah di Derrenomo yang
          bertanggung jawab atas promosi pengembangan dan kesejahteraan pemuda.
          Kementerian ini bekerja untuk membuat program dan inisiatif yang
          menangani kebutuhan pemuda di bidang pendidikan, lapangan kerja,
          kesehatan, dan kesejahteraan sosial. Mereka juga bekerja sama dengan
          lembaga pemerintah lainnya, organisasi non-pemerintah, dan kelompok
          pemuda untuk memastikan bahwa suara pemuda didengar dan kebutuhan
          mereka terpenuhi. Kementerian Pemuda memainkan peran penting dalam
          membentuk kebijakan Derrenomo terkait pemuda dan memastikan bahwa
          pemuda memiliki dukungan yang mereka butuhkan untuk berkembang.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOD">
        <h2>Kementerian Pertahanan</h2>
        <p>
          Kementerian Pertahanan adalah kementerian pemerintah di Derrenomo yang
          bertanggung jawab atas kekuatan militer dan pertahanan nasional.
          Kementerian ini mengembangkan dan melaksanakan kebijakan terkait
          keamanan nasional, termasuk strategi pertahanan, pengadaan militer,
          dan manajemen personel. Kementerian Pertahanan bekerja sama dengan
          lembaga pemerintah lainnya, seperti Kementerian Luar Negeri dan
          Kementerian Dalam Negeri, untuk mengkoordinasikan upaya keamanan
          nasional. Kementerian pertahanan juga bekerja sama dengan
          negara-negara asing dan organisasi internasional untuk mempromosikan
          perdamaian dan stabilitas di kawasan.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOE">
        <h2>Kementerian Pendidikan</h2>
        <p>
          Kementerian Pendidikan adalah kementerian pemerintah di Derrenomo yang
          bertanggung jawab atas sistem pendidikan negara. Kementerian ini
          mengembangkan dan melaksanakan kebijakan terkait pendidikan, termasuk
          desain kurikulum, pelatihan guru, pendanaan sekolah, dan standar
          penerimaan. Kementerian Pendidikan bekerja sama dengan sekolah-sekolah
          dan lembaga pendidikan lainnya untuk mempromosikan pendidikan
          berkualitas yang memenuhi kebutuhan siswa dan masyarakat. Kementerian
          ini juga bekerja untuk memastikan bahwa pendidikan dapat diakses oleh
          semua orang, tanpa memandang latar belakang atau status sosial ekonomi
          mereka.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MFA">
        <h2>Kementerian Luar Negeri</h2>
        <p>
          Kementerian Luar Negeri adalah kementerian pemerintah di Derrenomo
          yang bertanggung jawab atas hubungan internasional negara. Kementerian
          ini mengembangkan dan melaksanakan kebijakan terkait urusan luar
          negeri, termasuk diplomasi, bantuan luar negeri, dan perdagangan.
          Kementerian Luar Negeri bekerja untuk menjaga hubungan yang positif
          dengan negara-negara lain dan mempromosikan kepentingan Derrenomo di
          luar negeri. Kementerian ini juga bekerja untuk melindungi hak dan
          kesejahteraan warga negara Derrenomo yang bepergian atau tinggal di
          luar negeri. Kementerian Luar Negeri memainkan peran penting dalam
          membentuk posisi Derrenomo di komunitas global.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MSS">
        <h2>Kementerian Sekretaris Negara</h2>
        <p>
          Kementerian Sekretaris Negara adalah kementerian pemerintah di
          Derrenomo yang bertanggung jawab atas koordinasi dan pengelolaan
          pekerjaan sekretaris negara di berbagai lembaga pemerintah. Sekretaris
          negara biasanya adalah pejabat pemerintah tingkat tinggi yang bekerja
          sama dengan menteri dan pejabat senior lainnya untuk melaksanakan
          kebijakan dan program pemerintah. Kementerian Sekretaris Negara
          membantu memastikan bahwa pejabat-pejabat ini bekerja dengan efektif
          dan efisien, dan bahwa semuanya sejalan dalam melaksanakan kebijakan
          pemerintah. Kementerian ini juga menyediakan dukungan administratif
          dan panduan kepada sekretaris negara, dan bekerja untuk memastikan
          bahwa mereka memiliki sumber daya dan informasi yang mereka butuhkan
          untuk menjalankan tugas mereka secara efektif.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MTI">
        <h2>Kementerian Teknologi dan Informasi</h2>
        <p>
          Kementerian Teknologi dan Informasi adalah kementerian pemerintah di
          Derrenomo yang bertanggung jawab atas pengembangan dan pelaksanaan
          kebijakan terkait teknologi informasi dan komunikasi. Kementerian ini
          bekerja untuk mempromosikan pengembangan dan penggunaan teknologi
          dalam pelayanan pemerintah, serta sektor swasta. Kementerian Teknologi
          dan Informasi bertanggung jawab atas pengawasan pelaksanaan
          infrastruktur teknologi dan memastikan bahwa infrastruktur tersebut
          digunakan secara efektif dan efisien di berbagai lembaga pemerintah.
          Selain itu, kementerian ini bertujuan untuk melindungi privasi dan
          keamanan data warga negara dengan menerapkan kebijakan perlindungan
          data yang tepat.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MIA">
        <h2>Kementerian Dalam Negeri</h2>
        <p>
          Kementerian Dalam Negeri adalah kementerian pemerintah di Derrenomo
          yang bertanggung jawab atas menjaga hukum dan ketertiban di dalam
          negeri. Kementerian ini mengawasi kepolisian dan agensi penegak hukum
          lainnya, dan bekerja untuk mengembangkan dan melaksanakan kebijakan
          terkait pencegahan kejahatan, keamanan masyarakat, dan manajemen
          darurat. Kementerian Dalam Negeri juga bertanggung jawab atas masalah
          terkait kewarganegaraan dan imigrasi, termasuk pemrosesan visa dan
          paspor, serta pengelolaan pengendalian perbatasan. Kementerian ini
          memainkan peran penting dalam mempromosikan dan memelihara keselamatan
          dan keamanan rakyat Derrenomo dan batas-batasnya.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOJ">
        <h2>Kementerian Kehakiman</h2>
        <p>
          Kementerian Kehakiman adalah kementerian pemerintah di Derrenomo yang
          bertanggung jawab atas pengawasan sistem peradilan negara. Kementerian
          ini bekerja untuk mengembangkan dan melaksanakan undang-undang dan
          kebijakan terkait keadilan pidana, hukum perdata, dan hak asasi
          manusia. Kementerian Kehakiman bertanggung jawab atas administrasi
          pengadilan dan sistem hukum, termasuk penunjukan hakim dan pejabat
          hukum lainnya, pengelolaan sistem penjara, serta penegakan hukum dan
          peraturan. Kementerian ini memainkan peran kunci dalam memastikan
          bahwa sistem kehakiman adil, baik, dan memegang teguh aturan hukum.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MRSA">
        <h2>Kementerian Agama dan Sosial</h2>
        <p>
          Kementerian Agama dan Sosial adalah kementerian pemerintah di
          Derrenomo yang bertanggung jawab atas mengembangkan dan melaksanakan
          kebijakan terkait agama dan kesejahteraan sosial. Kementerian ini
          bekerja untuk mempromosikan kebebasan beragama dan toleransi, serta
          memfasilitasi praktik berbagai agama di dalam negeri. Selain itu,
          Kementerian Agama dan Sosial bertanggung jawab atas kebijakan
          kesejahteraan sosial, seperti yang terkait dengan pengurangan
          kemiskinan, layanan sosial, dan pembangunan masyarakat. Kementerian
          ini memainkan peran kunci dalam mempromosikan keadilan sosial dan
          kesetaraan di dalam Derrenomo.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
        <div id="MRSA_DOC">
          <h3>Divisi Kebudayaan</h3>
          <p>
            Divisi Kebudayaan adalah divisi dari Kementerian Agama dan Sosial di
            Derrenomo yang bertanggung jawab atas mengembangkan dan melaksanakan
            kebijakan terkait pelestarian dan promosi budaya. Divisi ini bekerja
            untuk mempromosikan dan melestarikan warisan budaya dan tradisi
            Derrenomo, serta memfasilitasi praktik dan perayaan berbagai acara
            budaya dan festival di seluruh negeri. Selain itu, Divisi Kebudayaan
            bertanggung jawab atas mendukung pertumbuhan dan perkembangan
            berbagai bentuk seni, seperti teater, musik, tari, dan sastra.
            Divisi ini memainkan peran penting dalam memelihara dan
            mempromosikan identitas budaya Derrenomo.
          </p>
        </div>
      </div>
      <div id="MOH">
        <h2>Kementerian Kesehatan</h2>
        <p>
          Kementerian Kesehatan adalah kementerian pemerintah di Derrenomo yang
          bertanggung jawab atas pengawasan sistem kesehatan negara. Kementerian
          ini bekerja untuk mengembangkan dan melaksanakan kebijakan dan program
          terkait kesehatan masyarakat, pencegahan penyakit, dan layanan
          kesehatan. Selain itu, Kementerian Kesehatan bertanggung jawab atas
          pengaturan dan pengawasan rumah sakit, klinik, dan fasilitas kesehatan
          lainnya, serta akreditasi tenaga kesehatan. Kementerian ini memainkan
          peran kunci dalam memastikan bahwa warga negara memiliki akses ke
          layanan kesehatan berkualitas tinggi dan dalam mempromosikan kesehatan
          dan kesejahteraan masyarakat.
        </p>
        <details>
          <summary>Layanan</summary>
          <p>WIP</p>
        </details>
      </div>
    </article>
  </main>
</BaseLayout>
