---
import TableOfContents from "../../components/TableOfContents.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const govPdfs = await Astro.glob<Record<string, any>>("/public/pdfs/gov/*.pdf");
const mediaPdfs = await Astro.glob<Record<string, any>>(
  "/public/pdfs/media/*.pdf"
);
const miscPdfs = await Astro.glob<Record<string, any>>(
  "/public/pdfs/misc/*.pdf"
);
function replacePathname(url: URL, newPathname: string): URL {
  return new URL(newPathname, url);
}
const baseUrl = new URL("/derrenomo-site/", Astro.url);
import "../../styles/globals.css";
import { baseUrl as baseUrlString } from "../../utils/base";
---

<BaseLayout title="Documents">
  <main>
    <article>
      <h1>Derrenomo Government Central Asset List</h1>
      <p>
        This webpage contains all the documents and necessary files relating to
        the government of the Nation of Derrenomo. Feel free to access these PDF
        files anytime.
      </p>
      <TableOfContents>
        <li>
          <a href="#GovPdf">Government Pdfs</a>
        </li>
        <li>
          <a href="#MediaPdf">Media Pdfs</a>
        </li>
        <li>
          <a href="#MiscPdf">Misc. Pdfs</a>
        </li>
      </TableOfContents>
      <div>
        <h2 id="GovPdf">Government PDFs</h2>
        <ul>
          {
            govPdfs.map((f) => (
              <li>
                <a href={replacePathname(baseUrl, String(f.default).slice(1))}>
                  {String(f.default).split("/").pop()}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h2 id="MediaPdf">Media PDFs</h2>
        <ul>
          {
            mediaPdfs.map((f) => (
              <li>
                <a href={replacePathname(baseUrl, String(f.default))}>
                  {String(f.default).split("/").pop()}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h2 id="MiscPdf">Misc. PDFs</h2>
        <ul>
          {
            miscPdfs.map((f) => (
              <li>
                <a href={replacePathname(baseUrl, String(f.default))}>
                  {String(f.default).split("/").pop()}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
  </main>
</BaseLayout>

<style>
  main {
    margin: auto;
    padding: 15px;
  }
  article {
  }
  article > p,
  article > h1,
  article > h2 {
    width: 50vw;
  }
  @media only screen and (max-width: 600px) {
    article > p,
    article > h1,
    article > h2 {
      width: 95vw;
    }
  }
</style>
