---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <main>
    <h1>404!</h1>
    <p>
      The Page you are looking for is not found!<br />Maybe it is available in
      another language!
    </p>
    <p>
      Halaman yang anda mencari tidak ditemukan!<br />Mungkin terada di dalam
      bahasa lain!
    </p>
    <p class:list={["font_japanese"]}>
      お探しのページが見つかりません！<br />多分それは別の言語で利用可能です！
    </p>
    <p class:list={["font_chinese"]}>
      没有找到您要找的页面！<br />也许它有其他语言版本！
    </p>
    <p>
      La Pagina che stai cercando non è stata trovata!<br />Forse è disponibile
      in un'altra lingua!
    </p>
  </main>
</BaseLayout>

<style>
  p,
  h1 {
    text-align: center;
  }
</style>
