---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404">
  <main>
    <h1>404!</h1>
    <p>The Page you are looking for is not found!</p>
    <p>Halaman yang anda mencari tidak ditemukan!</p>
    <p>お探しのページが見つかりません！</p>
    <p>没有找到您要找的页面！</p>
    <p>La Pagina che stai cercando non è stata trovata!</p>
  </main>
</BaseLayout>

<style>
  p,
  h1 {
    text-align: center;
  }
</style>
