---
import {
  useTranslationDict,
  type TranslationDict,
  getLangFromUrl,
} from "../i18n/utils";
import "../styles/globals.css";
const translationDict: TranslationDict = {
  en: {
    data: "JAVASCRIPT NOT ENABLED",
  },
  id: {
    data: "JAVASCRIPT TIDAK AKTIF",
  },
  ja: {
    data: "JAVASCRIPTが無効です",
  },
  zh: {
    data: "JAVASCRIPT未启用",
  },
  it: {
    data: "JAVASCRIPT NON ABILITATO",
  },
};
const useT = useTranslationDict(translationDict, getLangFromUrl(Astro.url));
---

<noscript>
  <div>
    <p>{useT("data")}</p>
  </div>
</noscript>

<style>
  div {
    background-color: var(--primary-color-brighter);
    color: var(--text-color-bright);
    display: flex;
    width: 100vw;
    height: 30px;
    font-size: 1.1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>
