---
import ContentStyles from "../../../components/ContentStyles.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

/* Contents too big */
//export function getStaticPaths() {
//  return Object.keys(supportedLanguages).map((f) => {
//    return {
//      params: {
//        lang: f,
//      },
//    };
//  });
//}
---

<BaseLayout title="省庁">
  <ContentStyles />
  <main>
    <header>
      <h1>デレノモ国家省の省庁</h1>
      <p>
        このページには、デレノモ独立共和国の省庁の名称と利用可能なサービスが記載されています。これらのサービスはいつでも利用できますが、最初にブラウザでJavaScriptを有効にする必要がある場合があります。
      </p>
      <TableOfContents>
        <li>
          <a href="#MCPPW">中央計画公共事業省</a>
          <ol>
            <li>
              <a href="#MCCPW_MDOE">中央計画公共事業省 - 経済省局</a>
            </li>
            <li>
              <a href="#MCCPW_MDOA">中央計画公共事業省 - 農業省局</a>
            </li>
            <li>
              <a href="#MCCPW_MDOT">中央計画公共事業省 - 交通省局</a>
            </li>
            <li>
              <a href="#MCCPW_MDOI">中央計画公共事業省 - 工業省局</a>
            </li>
          </ol>
        </li>
        <li><a href="#MOY">若者省</a></li>
        <li><a href="#MOD">防衛省</a></li>
        <li><a href="#MOE">文部科学省</a></li>
        <li><a href="#MFA">外務省</a></li>
        <li><a href="#MSS">国務省</a></li>
        <li><a href="#MTI">技術情報省</a></li>
        <li><a href="#MIA">内務省</a></li>
        <li><a href="#MOJ">司法省</a></li>
        <li>
          <a href="#MRSA">宗教社会</a>
          <ol>
            <li><a href="#MRSA_DOC">宗教社会 - 文化局</a></li>
          </ol>
        </li>
        <li><a href="#MOH">厚生労働省</a></li>
      </TableOfContents>
    </header>
    <article>
      <div id="MCPPW">
        <h2>中央計画公共事業省</h2>
        <p>
          中央計画公共事業省は、大規模な公共事業プロジェクトの計画と実行、また国全体の経済計画の監督を担当しています。彼らは、リソースが効果的かつ効率的に割り当てられ、プロジェクトが予算内で時間内に完了するように働きます。この省は、デレノモのインフラストラクチャの開発と経済成長において重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
        <div id="MCCPW_MDOE">
          <h3>経済省局</h3>
          <p>
            経済省局は、経済政策と分析に特化した中央計画公共事業省内の専門局です。彼らは、経済政策とプログラムを開発・評価し、政府機関や関係者に対して経済分析と予測を提供します。こ局は、デレノモの経済政策を形成し、国の長期的な経済成長と安定性を確保する上で重要な役割を果たしています。
          </p>
        </div>
        <div id="MCCPW_MDOA">
          <h3>農業省局</h3>
          <p>
            農業省局は、農業政策と開発に特化した中央計画公共事業省内の専門局です。彼らは、持続可能な農業を促進し、食品生産を増やし、全体的な農業セクターを改善するための政策を開発・実施します。この局はまた、農家や他の農業労働者の技能と生産性を向上させるための技術支援やトレーニングを提供します。
          </p>
        </div>
        <div id="MCCPW_MDOT">
          <h3>交通省局</h3>
          <p>
            交通省局は、交通政策とインフラストラクチャに特化した中央計画公共事業省内の専門局です。彼らは、高速道路、鉄道、公共交通など、国の交通システムを改善するための政策を開発・実施します。この局はまた、交通システムの安全性を確保するためにも働き、より効率的かつ持続可能にするためにも働いています。
          </p>
        </div>
        <div id="MCCPW_MDOI">
          <h3>工業省局</h3>
          <p>
            工業省局は、工業政策と開発に特化した中央計画公共事業省内の専門局です。彼らは、持続可能な工業成長とイノベーションを促進し、デレノモの産業全体の競争力を向上するための政策を開発・実施します。こ局はまた、ビジネスや起業家の技能と生産性を向上させるための技術支援やトレーニングを提供します。
          </p>
        </div>
      </div>
      <div id="MOY">
        <h2>若者省</h2>
        <p>
          若者省は、若者の発展と福祉を促進するための政府省庁であり、デレノモにおいて重要な役割を果たしています。この省は、教育、就業、健康、社会福祉などの分野で若者のニーズに対応するプログラムやイニシアチブを作成します。また、他の政府機関、非政府組織、若者グループと協力して、若者の声を届け、彼らのニーズに対応します。若者省はデレノモの若者に関連した政策の形成に重要な役割を果たし、若者が成長するために必要なサポートを提供します。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOD">
        <h2>防衛省</h2>
        <p>
          防衛省は、国の軍事力と国防に責任を持つデレノモの政府省庁です。この省は、防衛戦略、軍事調達、人事管理など、国家安全保障に関連する政策を策定・実施します。防衛省は、外務省や内務省などの他の政府機関と緊密に協力して、国家安全保障の取り組みを調整します。この省はまた、外国と国際機関と協力して、地域の平和と安定を促進します。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOE">
        <h2>教育省</h2>
        <p>
          教育省は、国の教育システムに責任を持つデレノモの政府省庁です。この省は、カリキュラム設計、教師研修、学校資金調達、入学基準など、教育に関連する政策を策定・実施します。教育省は、学生と社会のニーズに応える高品質の教育を推進するために、学校や教育機関と緊密に協力しています。この省はまた、彼らの背景や社会経済的地位に関係なく、すべての人に教育が利用できるようにすることも目指しています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MFA">
        <h2>外務省</h2>
        <p>
          外務省は、デレノモの国際関係に責任を持つ政府省庁です。この省は、外交、外国援助、貿易などの外交に関連する政策を策定・実施します。外務省は、他の国との良好な関係を維持し、デレノモの海外での利益を促進するために働いています。この省はまた、海外に旅行したり居住したりするデレノモ市民の権利と福祉を保護するためにも働いています。外務省は、デレノモのグローバルコミュニティ内での立場を形成する上で重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MSS">
        <h2>国務省</h2>
        <p>
          国務省は、各政府機関の国務秘書を調整・管理するデレノモの政府省庁です。国務秘書は、通常は高位の政府官僚であり、閣僚やその他の高級官僚と緊密に協力して政府の政策やプログラムを実施します。国務省は、これらの官僚が効果的かつ効率的に働いていること、および政府政策の実施について意見が一致していることを確認するのを助けます。この省はまた、国務秘書に対して行政的支援と指導を提供し、彼らが任務を効果的に遂行するために必要なリソースと情報を提供することを目的としています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MTI">
        <h2>技術情報省</h2>
        <p>
          技術情報省は、情報技術や通信に関連する政策を策定および実施するデレノモの政府省庁です。この省は、政府のサービスだけでなく、私企業においても、技術の開発と使用を促進することを目指しています。技術情報省は、技術インフラストラクチャーの実施状況を監視し、さまざまな政府機関において効果的で効率的に使用されていることを確認する責任があります。また、この省は、適切なデータ保護ポリシーを実施することにより、市民のデータのプライバシーとセキュリティを保護することを目指しています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MIA">
        <h2>内務省</h2>
        <p>
          内務省は、国内の法と秩序を維持するための責任を持つデレノモの政府省庁です。この省は警察やその他の法執行機関を監督し、犯罪予防、公共安全、緊急対応などの政策を策定・実施するために働いています。内務省はまた、ビザやパスポートの処理、国境管理の管理など、市民権と移民に関連する問題にも責任を持っています。この省は、デレノモの人々と国境の安全と安定を促進・維持する上で重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOJ">
        <h2>司法省</h2>
        <p>
          司法省は、国の司法制度を監視するデレノモの政府省庁です。この省は刑事司法、民事法、人権に関する法律や政策を策定・実施するために働いています。司法省は、裁判所や法律制度の管理、裁判官やその他の法律関係者の任命、刑務所制度の管理、法律や規制の執行に責任を持っています。この省は、司法制度が公正であり、法の支配を維持することを確実にするために重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MRSA">
        <h2>宗教社会省</h2>
        <p>
          宗教社会省局は、宗教と社会福祉に関連する政策を策定・実施するデレノモの政府省庁です。この省は宗教の自由と寛容を促進し、国内でのさまざまな宗教の実践を容易にするために働いています。また、宗教社会省局は、貧困削減、社会サービス、コミュニティ開発などの社会福祉政策にも責任を持っています。この省は、デレノモ内での社会正義と平等の促進に重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
        <div id="MRSA_DOC">
          <h3>文化局</h3>
          <p>
            文化局は、文化の保存と促進に関連する政策を策定・実施するデレノモの宗教・社会省の局です。この局は、デレノモの文化遺産と伝統を促進・保存し、国内でのさまざまな文化イベントや祭りの実践と祝賀を容易にするために働いています。また、文化局は、劇場、音楽、ダンス、文学などのさまざまな芸術形式の成長と発展を支援する責任も持っています。この局は、デレノモの文化的アイデンティティを維持・促進する上で重要な役割を果たしています。
          </p>
        </div>
      </div>
      <div id="MOH">
        <h2>厚生労働省</h2>
        <p>
          厚生労働省は、国の医療制度を監督するデレノモの政府省庁です。この省は、公衆衛生、疾病予防、医療サービスに関連する政策やプログラムを策定・実施するために働いています。また、厚生労働省は、病院、クリニック、その他の医療施設の規制や監督、医療従事者の認定にも責任を持っています。この省は、市民が高品質の医療サービスにアクセスできることを確実にし、公衆衛生と福祉の促進に重要な役割を果たしています。
        </p>
        <details>
          <summary>サービス</summary>
          <p>WIP</p>
        </details>
      </div>
    </article>
  </main>
</BaseLayout>
