---
import ContentStyles from "../../../components/ContentStyles.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

/* Contents too big */
//export function getStaticPaths() {
//  return Object.keys(supportedLanguages).map((f) => {
//    return {
//      params: {
//        lang: f,
//      },
//    };
//  });
//}
---

<BaseLayout title="Ministries">
  <ContentStyles />
  <main>
    <header>
      <h1>Ministries of the Nation of Derrenomo</h1>
      <p>
        This page contains the names and available services of the ministries of
        the Independent Republic of Derrenomo. These services are available at
        anytime; however, you may need to enable JavaScript on your browser
        first.
      </p>
      <TableOfContents>
        <li>
          <a href="#MCPPW">Ministry of Central Planning and Public Works</a>
          <ol>
            <li>
              <a href="#MCCPW_MDOE">MCCPW - Ministry Division of Economy</a>
            </li>
            <li>
              <a href="#MCCPW_MDOA">MCCPW - Ministry Division of Agriculture</a>
            </li>
            <li>
              <a href="#MCCPW_MDOT"
                >MCCPW - Ministry Division of Transportation</a
              >
            </li>
            <li>
              <a href="#MCCPW_MDOI">MCCPW - Ministry Division of Industry</a>
            </li>
          </ol>
        </li>
        <li><a href="#MOY">Ministry of Youth</a></li>
        <li><a href="#MOD">Ministry of Defense</a></li>
        <li><a href="#MOE">Ministry of Education</a></li>
        <li><a href="#MFA">Ministry of Foreign Affairs</a></li>
        <li><a href="#MSS">Ministry of State Secretary</a></li>
        <li><a href="#MTI">Ministry of Technology and Information</a></li>
        <li><a href="#MIA">Ministry of Internal Affairs</a></li>
        <li><a href="#MOJ">Ministry of Justice</a></li>
        <li>
          <a href="#MRSA">Ministry of Religious and Social Affairs</a>
          <ol>
            <li><a href="#MRSA_DOC">MRSA - Division of Culture</a></li>
          </ol>
        </li>
        <li><a href="#MOH">Ministry of Health</a></li>
      </TableOfContents>
    </header>
    <article>
      <div id="MCPPW">
        <h2>Ministry of Central Planning and Public Works</h2>
        <p>
          The Ministry of Central Planning and Public Works is responsible for
          overseeing the planning and execution of large-scale public works
          projects, as well as the overall economic planning of the country.
          They work to ensure that resources are allocated effectively and
          efficiently, and that projects are completed on time and within
          budget. This ministry plays a crucial role in the development of
          Derrenomo's infrastructure and the growth of its economy.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
        <div id="MCCPW_MDOE">
          <h3>Ministry Division of Economy</h3>
          <p>
            The Ministry Division of Economy is a specialized division within
            the Ministry of Central Planning and Public Works that focuses
            specifically on economic policy and analysis. They work to develop
            and evaluate economic policies and programs, as well as provide
            economic analysis and forecasting to other government agencies and
            stakeholders. This division plays a crucial role in shaping
            Derrenomo's economic policies and ensuring the country's long-term
            economic growth and stability.
          </p>
        </div>
        <div id="MCCPW_MDOA">
          <h3>Ministry Division of Agriculture</h3>
          <p>
            The Ministry Division of Agriculture is a specialized division
            within the Ministry of Central Planning and Public Works that
            focuses specifically on agricultural policy and development. They
            work to develop and implement policies that promote sustainable
            agriculture, increase food production, and improve the overall
            agricultural sector. This division also provides technical
            assistance and training to farmers and other agricultural workers to
            improve their skills and productivity.
          </p>
        </div>
        <div id="MCCPW_MDOT">
          <h3>Ministry Division of Transportation</h3>
          <p>
            The Ministry Division of Transportation is a specialized division
            within the Ministry of Central Planning and Public Works that
            focuses specifically on transportation policy and infrastructure.
            They work to develop and implement policies that improve the
            country's transportation systems, including highways, railways, and
            public transportation. This division also works to ensure the safety
            of transportation systems and to make them more efficient and
            sustainable.
          </p>
        </div>
        <div id="MCCPW_MDOI">
          <h3>Ministry Division of Industry</h3>
          <p>
            The Ministry Division of Industry is a specialized division within
            the Ministry of Central Planning and Public Works that focuses
            specifically on industrial policy and development. They work to
            develop and implement policies that promote sustainable industrial
            growth and innovation, as well as improve the overall
            competitiveness of Derrenomo's industries. This division also
            provides technical assistance and training to businesses and
            entrepreneurs to improve their skills and productivity.
          </p>
        </div>
      </div>
      <div id="MOY">
        <h2>Ministry of Youth</h2>
        <p>
          The Ministry of Youth is a government ministry in Derrenomo that is
          responsible for promoting the development and well-being of young
          people. This ministry works to create programs and initiatives that
          address the needs of young people in areas such as education,
          employment, health, and social welfare. They also work with other
          government agencies, non-governmental organizations, and youth groups
          to ensure that the voices of young people are heard and their needs
          are addressed. The Ministry of Youth plays a crucial role in shaping
          Derrenomo's policies related to youth and ensuring that young people
          have the support they need to thrive.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOD">
        <h2>Ministry of Defense</h2>
        <p>
          The Ministry of Defense is a government ministry in Derrenomo that is
          responsible for the country's military forces and national defense.
          This ministry develops and implements policies related to national
          security, including defense strategy, military procurement, and
          personnel management. The Ministry of Defense works closely with other
          government agencies, such as the Ministry of Foreign Affairs and the
          Ministry of the Interior, to coordinate national security efforts.
          This ministry also works with foreign countries and international
          organizations to promote peace and stability in the region.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOE">
        <h2>Ministry of Education</h2>
        <p>
          The Ministry of Education is a government ministry in Derrenomo that
          is responsible for the country's education system. This ministry
          develops and implements policies related to education, including
          curriculum design, teacher training, school funding, and admission
          standards. The Ministry of Education works closely with schools and
          educational institutions to promote high-quality education that meets
          the needs of students and society. This ministry also works to ensure
          that education is accessible to all, regardless of their background or
          socioeconomic status.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MFA">
        <h2>Ministry of Foreign Affairs</h2>
        <p>
          The Ministry of Foreign Affairs is a government ministry in Derrenomo
          that is responsible for the country's international relations. This
          ministry develops and implements policies related to foreign affairs,
          including diplomacy, foreign aid, and trade. The Ministry of Foreign
          Affairs works to maintain positive relationships with other countries
          and promote Derrenomo's interests abroad. This ministry also works to
          protect the rights and welfare of Derrenomo citizens who are traveling
          or living abroad. The Ministry of Foreign Affairs plays a crucial role
          in shaping Derrenomo's position in the global community.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MSS">
        <h2>Ministry of State Secretary</h2>
        <p>
          The Ministry of State Secretary is a government ministry in Derrenomo
          that is responsible for coordinating and managing the work of state
          secretaries across various government agencies. State secretaries are
          typically high-level government officials who work closely with
          ministers and other senior officials to implement government policies
          and programs. The Ministry of State Secretary helps to ensure that
          these officials are working effectively and efficiently, and that they
          are all on the same page when it comes to implementing government
          policy. This ministry also provides administrative support and
          guidance to state secretaries, and works to ensure that they have the
          resources and information they need to carry out their duties
          effectively.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MTI">
        <h2>Ministry of Technology and Information</h2>
        <p>
          The Ministry of Technology and Information is a government ministry in
          Derrenomo that is responsible for developing and implementing policies
          related to information technology and communication. This ministry
          works to promote the development and use of technology in government
          services, as well as in the private sector. The Ministry of Technology
          and Information is responsible for overseeing the implementation of
          technology infrastructure and ensuring that it is being used
          effectively and efficiently across various government agencies.
          Additionally, this ministry aims to protect the privacy and security
          of citizens' data by implementing appropriate data protection
          policies.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MIA">
        <h2>Ministry of Internal Affairs</h2>
        <p>
          The Ministry of Internal Affairs is a government ministry in Derrenomo
          that is responsible for maintaining law and order within the country.
          This ministry oversees the police force and other law enforcement
          agencies, and works to develop and implement policies related to crime
          prevention, public safety, and emergency management. The Ministry of
          Internal Affairs is also responsible for issues related to citizenship
          and immigration, including the processing of visas and passports, and
          the management of border control. This ministry plays a crucial role
          in promoting and maintaining the safety and security of Derrenomo's
          people and its borders.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOJ">
        <h2>Ministry of Justice</h2>
        <p>
          The Ministry of Justice is a government ministry in Derrenomo that is
          responsible for overseeing the country's judiciary system. This
          ministry works to develop and implement laws and policies related to
          criminal justice, civil law, and human rights. The Ministry of Justice
          is responsible for the administration of the courts and the legal
          system, including the appointment of judges and other legal officials,
          the management of the prison system, and the enforcement of laws and
          regulations. This ministry plays a key role in ensuring that the
          judiciary system is fair, just, and upholds the rule of law.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MRSA">
        <h2>Ministry of Religious and Social Affairs</h2>
        <p>
          The Ministry of Religious and Social Affairs is a government ministry
          in Derrenomo that is responsible for developing and implementing
          policies related to religion and social welfare. This ministry works
          to promote religious freedom and tolerance, and to facilitate the
          practice of various religions within the country. Additionally, the
          Ministry of Religious and Social Affairs is responsible for social
          welfare policies, such as those related to poverty reduction, social
          services, and community development. This ministry plays a key role in
          promoting social justice and equality within Derrenomo.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
        <div id="MRSA_DOC">
          <h3>Division of Culture</h3>
          <p>
            The Division of Culture is a division of the Ministry of Religious
            and Social Affairs in Derrenomo that is responsible for developing
            and implementing policies related to cultural preservation and
            promotion. This division works to promote and preserve Derrenomo's
            cultural heritage and traditions, and to facilitate the practice and
            celebration of various cultural events and festivals throughout the
            country. Additionally, the Division of Culture is responsible for
            supporting the growth and development of various art forms, such as
            theater, music, dance, and literature. This division plays a crucial
            role in maintaining and promoting Derrenomo's cultural identity.
          </p>
        </div>
      </div>
      <div id="MOH">
        <h2>Ministry of Health</h2>
        <p>
          The Ministry of Health is a government ministry in Derrenomo that is
          responsible for overseeing the country's healthcare system. This
          ministry works to develop and implement policies and programs related
          to public health, disease prevention, and healthcare services.
          Additionally, the Ministry of Health is responsible for the regulation
          and supervision of hospitals, clinics, and other healthcare
          facilities, as well as the accreditation of healthcare professionals.
          This ministry plays a key role in ensuring that citizens have access
          to high-quality healthcare services and in promoting public health and
          well-being.
        </p>
        <details>
          <summary>Services</summary>
          <p>WIP</p>
        </details>
      </div>
    </article>
  </main>
</BaseLayout>
