---
import ContentStyles from "../../../components/ContentStyles.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

/* Contents too big */
//export function getStaticPaths() {
//  return Object.keys(supportedLanguages).map((f) => {
//    return {
//      params: {
//        lang: f,
//      },
//    };
//  });
//}
---

<BaseLayout title="部委">
  <ContentStyles />
  <main>
    <header>
      <h1>德认诺莫国家部门</h1>
      <p>
        本页面列出了德认诺莫独立共和国的部门名称及其提供的服务。这些服务随时可用，但您可能需要先在您的浏览器上启用
        JavaScript。
      </p>
      <TableOfContents>
        <li>
          <a href="#MCPPW">中央计划和公共工程部门</a>
          <ol>
            <li>
              <a href="#MCCPW_MDOE">中央计划和公共工程部门 - 经济司</a>
            </li>
            <li>
              <a href="#MCCPW_MDOA">中央计划和公共工程部门 - 农业司</a>
            </li>
            <li>
              <a href="#MCCPW_MDOT">中央计划和公共工程部门 - 交通司</a>
            </li>
            <li>
              <a href="#MCCPW_MDOI">中央计划和公共工程部门 - 工业司</a>
            </li>
          </ol>
        </li>
        <li><a href="#MOY">青年部门</a></li>
        <li><a href="#MOD">国防部门</a></li>
        <li><a href="#MOE">教育部门</a></li>
        <li><a href="#MFA">外交部门</a></li>
        <li><a href="#MSS">国务秘书部门</a></li>
        <li><a href="#MTI">科技与信息部门</a></li>
        <li><a href="#MIA">内务部门</a></li>
        <li><a href="#MOJ">司法部门</a></li>
        <li>
          <a href="#MRSA">宗教和社会事务部门</a>
          <ol>
            <li><a href="#MRSA_DOC">宗教和社会事务部门 - 文化局</a></li>
          </ol>
        </li>
        <li><a href="#MOH">卫生部门</a></li>
      </TableOfContents>
    </header>
    <article>
      <div id="MCPPW">
        <h2>中央计划和公共工程部门</h2>
        <p>
          中央规划和公共工程部门负责监督大规模公共工程项目的规划和执行，以及全国的经济规划。他们致力于确保资源的有效和高效分配，以及项目按时和按预算完成。该部门在德认诺莫基础设施的发展和经济增长中发挥着关键作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
        <div id="MCCPW_MDOE">
          <h3>经济司</h3>
          <p>
            经济司是中央规划和公共工程部门内的一个专门部门，专注于经济政策和分析。他们致力于制定和评估经济政策和项目，以及向其他政府机构和利益相关者提供经济分析和预测。该部门在塑造德认诺莫的经济政策方面发挥着至关重要的作用，确保国家的长期经济增长和稳定。
          </p>
        </div>
        <div id="MCCPW_MDOA">
          <h3>农业司</h3>
          <p>
            农业司是中央规划和公共工程部门内的一个专门部门，专注于农业政策和发展。他们致力于制定和实施促进可持续农业、增加粮食生产和改善整体农业司的政策。该部门还向农民和其他农业工人提供技术支持和培训，以提高他们的技能和生产力。
          </p>
        </div>
        <div id="MCCPW_MDOT">
          <h3>交通司</h3>
          <p>
            交通司是中央规划和公共工程部门内的一个专门部门，专注于交通政策和基础设施。他们致力于制定和实施改善国家交通系统的政策，包括公路、铁路和公共交通。该部门还努力确保交通系统的安全，并使其更加高效和可持续。
          </p>
        </div>
        <div id="MCCPW_MDOI">
          <h3>工业司</h3>
          <p>
            工业司是中央规划和公共工程部门内的一个专门部门，专注于工业政策和发展。他们致力于制定和实施促进可持续工业增长和创新的政策，以及提高德认诺莫产业的整体竞争力。该部门还向企业和企业家提供技术支持和培训，以提高他们的技能和生产力。
          </p>
        </div>
      </div>
      <div id="MOY">
        <h2>青年部门</h2>
        <p>
          青年部门是德认诺莫政府的一个部门，负责促进青年的发展和福利。该部门致力于创建针对教育、就业、健康和社会福利等领域的年轻人需求的计划和措施。此外，他们与其他政府机构、非政府组织和青年团体合作，确保年轻人的声音得以被听取和他们的需求得到满足。青年部门在塑造德认诺莫关于青年的政策方面发挥着关键的作用，确保青年获得他们所需的支持以健康成长。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOD">
        <h2>国防部门</h2>
        <p>
          国防部门是德认诺莫政府的一个部门，负责国家的军事力量和国防。该部门制定和实施与国家安全有关的政策，包括防御战略、军事采购和人员管理。国防部门与其他政府机构密切合作，例如外交部和内政部，以协调国家安全工作。此外，该部门还与外国和国际组织合作，促进该地区的和平与稳定。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOE">
        <h2>教育部门</h2>
        <p>
          教育部门是德认诺莫政府的一个部门，负责国家教育系统。该部门制定和实施与教育有关的政策，包括课程设计、教师培训、学校资金、入学标准等。教育部门与学校和教育机构密切合作，促进学生和社会的高质量教育。该部门还致力于确保教育对所有人都可获得，无论其背景或社会经济地位如何。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MFA">
        <h2>外交部门</h2>
        <p>
          外交部门是德认诺莫政府的一个部门，负责国家的国际关系。该部门制定和实施与外交有关的政策，包括外交、对外援助和贸易。外交部门致力于维护与其他国家的良好关系，并促进德认诺莫在海外的利益。该部门还致力于保护海外旅行或居住的德认诺莫公民的权利和福利。外交部门在塑造德认诺莫在全球社区中的地位方面发挥着至关重要的作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MSS">
        <h2>国务秘书部门</h2>
        <p>
          国务秘书部门是德认诺莫政府的一个部门，负责协调和管理各个政府机构的国务秘书工作。国务秘书通常是高级政府官员，与部长和其他高级官员密切合作，实施政府政策和计划。国务秘书部门有助于确保这些官员有效且高效地工作，并在实施政府政策时确保意见一致。该部门还为国务秘书提供行政支持和指导，并努力确保他们具备有效履行职责所需的资源和信息。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MTI">
        <h2>科技与信息部门</h2>
        <p>
          科技与信息部门是德认诺莫政府的一个部门，负责制定和实施与信息技术和通信有关的政策。该部门旨在促进政府服务以及私营部门中的技术开发和使用。科技与信息部门负责监督技术基础设施的实施，确保其在各个政府机构中得到有效和高效的使用。此外，该部门旨在通过实施适当的数据保护政策来保护市民数据的隐私和安全。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MIA">
        <h2>内务部门</h2>
        <p>
          内务部门是德认诺莫政府的一个部门，负责维护国家的法律和秩序。该部门监督警察部队和其他执法机构，并致力于制定和实施与犯罪预防、公共安全和应急管理有关的政策。内务部门还负责处理签证和护照等与公民身份和移民有关的问题，并管理边境控制。该部门在促进和维护德认诺莫人民和边境的安全和稳定方面发挥着至关重要的作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOJ">
        <h2>司法部门</h2>
        <p>
          司法部门是德认诺莫政府的一个部门，负责监督国家的司法系统。该部门致力于制定和实施与刑法、民事法和人权有关的法律和政策。司法部门负责法庭和法律制度的行政管理，包括任命法官和其他法律官员、监管监狱系统以及执行法律和法规等。该部门在确保司法系统公正、正义并维护法治方面发挥着关键作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MRSA">
        <h2>宗教和社会事务部门</h2>
        <p>
          宗教和社会事务部门是德认诺莫政府的一个部门，负责制定和实施与宗教和社会福利有关的政策。该部门致力于促进宗教自由和包容性，并便利各种宗教在国内的实践。此外，宗教和社会事务部门还负责社会福利政策，如减贫、社会服务和社区发展等。该部门在促进德认诺莫内的社会正义和平等方面发挥着关键作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
        <div id="MRSA_DOC">
          <h3>文化局</h3>
          <p>
            文化局是德认诺莫宗教和社会部门下属的一个部门，负责制定和实施与文化保护和促进有关的政策。该部门致力于促进和保护德认诺莫的文化遗产和传统，并便利各种文化活动和节日的实践和庆祝活动在全国范围内举行。此外，文化局还负责支持各种艺术形式的发展，如戏剧、音乐、舞蹈和文学等。该局在维护和促进德认诺莫的文化身份方面发挥着至关重要的作用。
          </p>
        </div>
      </div>
      <div id="MOH">
        <h2>卫生部门</h2>
        <p>
          卫生部门是德认诺莫政府的一个部门，负责监督国家的医疗保健系统。该部门致力于制定和实施与公共卫生、疾病预防和医疗服务有关的政策和计划。此外，卫生部门还负责监管和监督医院、诊所和其他医疗设施，以及医疗专业人员的认证。该部门在确保公民能够获得高质量医疗保健服务，促进公共卫生和福祉方面发挥着关键作用。
        </p>
        <details>
          <summary>服务</summary>
          <p>WIP</p>
        </details>
      </div>
    </article>
  </main>
</BaseLayout>
