---
import ContentStyles from "../../../components/ContentStyles.astro";
import TableOfContents from "../../../components/TableOfContents.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";

/* Contents too big */
//export function getStaticPaths() {
//  return Object.keys(supportedLanguages).map((f) => {
//    return {
//      params: {
//        lang: f,
//      },
//    };
//  });
//}
---

<BaseLayout title="Ministeri">
  <ContentStyles />
  <main>
    <header>
      <h1>Ministeri della Nazione di Derrenomo</h1>
      <p>
        Questa pagina contiene i nomi e i servizi disponibili dei ministeri
        della Repubblica Indipendente di Derrenomo. Questi servizi sono
        disponibili in qualsiasi momento; tuttavia, potrebbe essere necessario
        abilitare JavaScript sul tuo browser per primo.
      </p>
      <TableOfContents>
        <li>
          <a href="#MCPPW"
            >Ministero della Pianificazione Centrale e dei Lavori Pubblici</a
          >
          <ol>
            <li>
              <a href="#MCCPW_MDOE"
                >MPC-LP - Divisione del Ministero dell'Economia</a
              >
            </li>
            <li>
              <a href="#MCCPW_MDOA"
                >MPC-LP - Divisione del Ministero dell'Agricoltura</a
              >
            </li>
            <li>
              <a href="#MCCPW_MDOT"
                >MPC-LP - Divisione del Ministero dei Trasport</a
              >
            </li>
            <li>
              <a href="#MCCPW_MDOI"
                >MPC-LP - Divisione del Ministero dell'Industria</a
              >
            </li>
          </ol>
        </li>
        <li><a href="#MOY">Ministero della Gioventù</a></li>
        <li><a href="#MOD">Ministero della Difesa</a></li>
        <li><a href="#MOE">Ministero dell'Istruzione</a></li>
        <li><a href="#MFA">Ministro degli Affari Esteri</a></li>
        <li><a href="#MSS">Ministero del Segretariato di Stato</a></li>
        <li>
          <a href="#MTI">Ministero della Tecnologia e delle Informazioni</a>
        </li>
        <li><a href="#MIA">Ministero degli Affari Interni</a></li>
        <li><a href="#MOJ">Ministero della Giustizia</a></li>
        <li>
          <a href="#MRSA">Ministero degli Affari Religiosi e Sociali</a>
          <ol>
            <li>
              <a href="#MRSA_DOC"
                >MARS - Divisione della Cultura La Divisione
              </a>
            </li>
          </ol>
        </li>
        <li><a href="#MOH">Ministero della Saluteh</a></li>
      </TableOfContents>
    </header>
    <article>
      <div id="MCPPW">
        <h2>Ministero della Pianificazione Centrale e dei Lavori Pubblici</h2>
        <p>
          Il Ministero della Pianificazione Centrale e dei Lavori Pubblici è
          responsabile della supervisione della pianificazione e dell'esecuzione
          di grandi progetti di lavori pubblici, nonché della pianificazione
          economica generale del paese. Lavora per garantire che le risorse
          siano allocate in modo efficace ed efficiente e che i progetti siano
          completati entro i tempi e i costi previsti. Questo ministero svolge
          un ruolo cruciale nello sviluppo dell'infrastruttura di Derrenomo e
          nella crescita della sua economia.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
        <div id="MCCPW_MDOE">
          <h3>Divisione del Ministero dell'Economia</h3>
          <p>
            La Divisione del Ministero dell'Economia è una divisione
            specializzata all'interno del Ministero della Pianificazione
            Centrale e dei Lavori Pubblici che si concentra specificatamente
            sulla politica economica e sull'analisi. Lavora per sviluppare ed
            valutare politiche economiche e programmi, nonché fornire analisi
            economica e previsioni ad altre agenzie governative e parti
            interessate. Questa divisione gioca un ruolo cruciale nella
            definizione delle politiche economiche di Derrenomo ed assicurando
            la crescita economica e la stabilità a lungo termine del paese.
          </p>
        </div>
        <div id="MCCPW_MDOA">
          <h3>Divisione del Ministero dell'Agricoltura</h3>
          <p>
            La Divisione del Ministero dell'Agricoltura è una divisione
            specializzata all'interno del Ministero della Pianificazione
            Centrale e dei Lavori Pubblici che si concentra specificamente sulla
            politica agricola e sullo sviluppo. Lavora per sviluppare ed
            implementare politiche che promuovono l'agricoltura sostenibile,
            aumentano la produzione alimentare e migliorano il settore agricolo
            nel suo complesso. Questa divisione fornisce anche assistenza
            tecnica e formazione agli agricoltori ed altri lavoratori agricoli
            per migliorare le loro competenze e la produttività.
          </p>
        </div>
        <div id="MCCPW_MDOT">
          <h3>Divisione del Ministero dei Trasport</h3>
          <p>
            La Divisione del Ministero dei Trasporti è una divisione
            specializzata all'interno del Ministero della Pianificazione
            Centrale e dei Lavori Pubblici che si concentra specificatamente
            sulla politica dei trasporti e sull'infrastruttura. Lavora per
            sviluppare ed implementare politiche che migliorano il sistema di
            trasporti del paese, compresi autostrade, ferrovie e trasporti
            pubblici. Questa divisione lavora anche per garantire la sicurezza
            dei sistemi di trasporto ed renderli più efficienti e sostenibili.
          </p>
        </div>
        <div id="MCCPW_MDOI">
          <h3>Divisione del Ministero dell'Industria</h3>
          <p>
            La Divisione del Ministero dell'Industria è una divisione
            specializzata all'interno del Ministero della Pianificazione
            Centrale e dei Lavori Pubblici che si concentra specificatamente
            sulla politica industriale e sullo sviluppo. Lavora per sviluppare
            ed implementare politiche che promuovono una crescita e
            un'innovazione industriale sostenibili, nonché migliorano la
            competitività complessiva delle industrie di Derrenomo. Questa
            divisione fornisce anche assistenza tecnica e formazione alle
            imprese ed agli imprenditori per migliorare le loro competenze e la
            produttività.
          </p>
        </div>
      </div>
      <div id="MOY">
        <h2>Ministero della Gioventù</h2>
        <p>
          Il Ministero della Gioventù è un ministero del governo di Derrenomo
          che si occupa di promuovere lo sviluppo e il benessere dei giovani.
          Questo ministero lavora per creare programmi e iniziative che
          affrontino le esigenze dei giovani in aree come istruzione, impiego,
          salute e benessere sociale. Lavorano anche con altre agenzie
          governative, organizzazioni non governative e gruppi giovanili per
          garantire che le voci dei giovani siano ascoltate e le loro esigenze
          siano soddisfatte. Il Ministero della Gioventù svolge un ruolo
          cruciale nella definizione delle politiche di Derrenomo in materia di
          giovani e nell'assicurare che i giovani abbiano il supporto di cui
          hanno bisogno per prosperare.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOD">
        <h2>Ministero della Difesa</h2>
        <p>
          Il Ministero della Difesa è un ministero del governo di Derrenomo che
          si occupa delle forze armate e della difesa nazionale del paese.
          Questo ministero sviluppa ed implementa politiche relative alla
          sicurezza nazionale, comprese la strategia di difesa,
          l'approvvigionamento militare e la gestione del personale. Il
          Ministero della Difesa lavora a stretto contatto con altre agenzie
          governative, come il Ministero degli Affari Esteri e il Ministero
          dell'Interno, per coordinare gli sforzi di sicurezza nazionale. Questo
          ministero lavora anche con paesi stranieri ed organizzazioni
          internazionali per promuovere la pace e la stabilità nella regione.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOE">
        <h2>Ministero dell'Istruzione</h2>
        <p>
          Il Ministero dell'Istruzione è un ministero del governo di Derrenomo
          che si occupa del sistema educativo del paese. Questo ministero
          sviluppa ed implementa politiche relative all'istruzione, comprese la
          progettazione del curriculum, la formazione degli insegnanti, il
          finanziamento delle scuole e i requisiti di ammissione. Il Ministero
          dell'Istruzione lavora a stretto contatto con le scuole e le
          istituzioni educative per promuovere un'istruzione di alta qualità che
          incontri le esigenze degli studenti e della società. Questo ministero
          lavora anche per garantire che l'istruzione sia accessibile a tutti,
          indipendentemente dalla loro provenienza o dal loro status
          socioeconomico.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MFA">
        <h2>Ministro degli Affari Esteri</h2>
        <p>
          Il Ministero degli Affari Esteri è un ministero del governo di
          Derrenomo che si occupa delle relazioni internazionali del paese.
          Questo ministero sviluppa ed implementa politiche relative agli affari
          esteri, compresi la diplomazia, gli aiuti esteri e il commercio. Il
          Ministero degli Affari Esteri lavora per mantenere relazioni positive
          con altri paesi e promuovere gli interessi di Derrenomo all'estero.
          Questo ministero lavora anche per proteggere i diritti e il benessere
          dei cittadini di Derrenomo che viaggiano o vivono all'estero. Il
          Ministero degli Affari Esteri gioca un ruolo cruciale nella
          definizione della posizione di Derrenomo nella comunità globale.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MSS">
        <h2>Ministero del Segretariato di Stato</h2>
        <p>
          Il Ministero del Segretariato di Stato è un ministero del governo di
          Derrenomo che si occupa di coordinare e gestire il lavoro dei
          segretari di stato presso diverse agenzie governative. I segretari di
          stato sono di solito funzionari governativi di alto livello che
          lavorano a stretto contatto con ministri e altri funzionari di alto
          livello per implementare le politiche e i programmi governativi. Il
          Ministero del Segretariato di Stato aiuta a garantire che questi
          funzionari lavorino in modo efficace ed efficiente, e che siano tutti
          sulla stessa pagina quando si tratta di implementare la politica
          governativa. Questo ministero fornisce inoltre supporto amministrativo
          e orientamento ai segretari di stato, e lavora per garantire che abb
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MTI">
        <h2>Ministero della Tecnologia e delle Informazioni</h2>
        <p>
          Il Ministero della Tecnologia e delle Informazioni è un ministero del
          governo di Derrenomo che si occupa di sviluppare ed implementare
          politiche relative alla tecnologia dell'informazione e delle
          comunicazioni. Questo ministero lavora per promuovere lo sviluppo e
          l'uso della tecnologia nei servizi governativi, così come nel settore
          privato. Il Ministero della Tecnologia e delle Informazioni è
          responsabile della supervisione dell'implementazione
          dell'infrastruttura tecnologica e dell'assicurarsi che venga
          utilizzata in modo efficace ed efficiente presso le varie agenzie
          governative. Inoltre, questo ministero mira a proteggere la privacy e
          la sicurezza dei dati dei cittadini attraverso l'implementazione di
          appropriate politiche di protezione dei dati.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MIA">
        <h2>Ministero degli Affari Interni</h2>
        <p>
          Il Ministero degli Affari Interni è un ministero del governo di
          Derrenomo che si occupa di mantenere l'ordine pubblico nel paese.
          Questo ministero supervisiona le forze dell'ordine e altre agenzie di
          sicurezza, e lavora per sviluppare ed implementare politiche relative
          alla prevenzione del crimine, alla sicurezza pubblica ed alla gestione
          delle emergenze. Il Ministero degli Affari Interni è anche
          responsabile di questioni legate alla cittadinanza e all'immigrazione,
          compreso il trattamento di visti e passaporti e la gestione del
          controllo delle frontiere. Questo ministero gioca un ruolo cruciale
          nella promozione e nel mantenimento della sicurezza e della stabilità
          del popolo di Derrenomo e dei suoi confini.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MOJ">
        <h2>Ministero della Giustizia</h2>
        <p>
          Il Ministero della Giustizia è un ministero del governo di Derrenomo
          che si occupa di supervisionare il sistema giudiziario del paese.
          Questo ministero lavora per sviluppare ed implementare leggi e
          politiche relative alla giustizia penale, al diritto civile ed ai
          diritti umani. Il Ministero della Giustizia è responsabile
          dell'amministrazione delle corti e del sistema legale, compresa la
          nomina dei giudici e di altri funzionari legali, la gestione del
          sistema carcerario e dell'applicazione delle leggi e dei regolamenti.
          Questo ministero svolge un ruolo chiave nell'assicurare un sistema
          giudiziario equo, giusto e che rispetti lo stato di diritto.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
      <div id="MRSA">
        <h2>Ministero degli Affari Religiosi e Sociali</h2>
        <p>
          Il Ministero degli Affari Religiosi e Sociali è un ministero del
          governo di Derrenomo che si occupa di sviluppare ed implementare
          politiche relative alla religione ed al welfare sociale. Questo
          ministero lavora per promuovere la libertà e la tolleranza religiosa,
          nonché per facilitare la pratica delle diverse religioni all'interno
          del paese. Inoltre, il Ministero degli Affari Religiosi e Sociali è
          responsabile delle politiche di welfare sociale, come quelle relative
          alla riduzione della povertà, ai servizi sociali e allo sviluppo della
          comunità. Questo ministero svolge un ruolo chiave nella promozione
          della giustizia e dell'uguaglianza sociale all'interno di Derrenomo.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
        <div id="MRSA_DOC">
          <h3>Divisione della Cultura</h3>
          <p>
            La Divisione della Cultura è una divisione del Ministero degli
            Affari Religiosi e Sociali di Derrenomo che si occupa di sviluppare
            ed implementare politiche relative alla promozione e alla
            preservazione della cultura. Questo dipartimento lavora per
            promuovere e preservare il patrimonio culturale e le tradizioni di
            Derrenomo, nonché per facilitare la pratica e la celebrazione di
            vari eventi e festival culturali in tutto il paese. Inoltre, la
            Divisione della Cultura è responsabile di sostenere la crescita e lo
            sviluppo di varie forme d'arte, come il teatro, la musica, la danza
            e la letteratura. Questo dipartimento svolge un ruolo cruciale nel
            mantenere e promuovere l'identità culturale di Derrenomo.
          </p>
        </div>
      </div>
      <div id="MOH">
        <h2>Ministero della Salute</h2>
        <p>
          Il Ministero della Salute è un ministero del governo di Derrenomo che
          si occupa di supervisionare il sistema sanitario del paese. Questo
          ministero lavora per sviluppare ed implementare politiche e programmi
          relativi alla sanità pubblica, alla prevenzione delle malattie e ai
          servizi sanitari. Inoltre, il Ministero della Salute è responsabile
          della regolamentazione e supervisione degli ospedali, delle cliniche e
          delle altre strutture sanitarie, nonché dell'accreditamento dei
          professionisti sanitari. Questo ministero svolge un ruolo chiave nel
          garantire che i cittadini abbiano accesso a servizi sanitari di alta
          qualità e nella promozione della salute pubblica e del benessere.
        </p>
        <details>
          <summary>Servizi</summary>
          <p>WIP</p>
        </details>
      </div>
    </article>
  </main>
</BaseLayout>
